$topHeader-font-family :'Montserrat', sans-serif;
$topHeader-font-size : 1.5em;

$header-font-family :'Playfair Display', serif;
$header-font-size : 1.2em;

$topTitle-font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$topTitle-font-size : 1em;

$title-font-family : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$title-font-size : 0.8em;

$subTitle-font-family : 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$subTitle-font-size : 0.6em;

$cursor-Info : url("src/assets/icons/info.png"), auto;

$big-border-radius : 15vw;
$small-border-radius : 8vw;
$div-border-radius: 1vw;